<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimo Producto</title>
</head>
<body>
    <div>
        <h1>Detalle del último Producto</h1>
        <h3>Código: <span th:text="${ultimoProducto.codigo}"></span>
            <br>
            Nombre: <span th:text="${ultimoProducto.nombre}"></span>
            <br>
            Precio: <span th:text="${ultimoProducto.precio}"></span>
            <br>
            Marca: <span th:text="${ultimoProducto.marca}"></span>
            <br>
            Stock: <span th:text="${ultimoProducto.stock}"></span>
        </h3>
        <a href="/producto">Volver a la página de carga de nuevo producto</a>        
    </div>
</body>
</html>